@font-face {
    font-family: IranSans;
    font-style: normal;
	font-weight: normal;
    src: url("./regular.ttf") format("truetype");
  }
  
@font-face {
    font-family: IranSans;
    font-style: normal;
	font-weight: bold;
    src: url("./bold.ttf") format("truetype");
}
  
@font-face {
    font-family: IranSans;
    font-style: normal;
	font-weight: 300;
    src: url("./light.ttf") format("truetype");
}

@font-face {
    font-family: IranSans;
	font-style: normal;
	font-weight: 900;
    src: url("./black.ttf") format("truetype");
  }
  
@font-face {
    font-family: IranSans;
	font-style: normal;
	font-weight: 500;
    src: url("./medium.ttf") format("truetype");
}
  
@font-face {
    font-family: IranSans;
    font-style: normal;
	font-weight: 300;
    src: url("./ultra_light.ttf") format("truetype");
}