body {
  font-family: IranSans;
  overflow-x: hidden;
  /* overflow: break-word */
}

button {
  border: 0;
}

:root {
  --first: 13, 179, 158;
  --second: 2, 195, 154;
  --third: 57, 74, 109;
  --fourth: 15, 33, 45;
  --body-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 50px;
}

/* Set the color of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 50px;

}

/* Set the color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 50px;

}

/* Add a hover effect to the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
  border-radius: 50px;

}


.switch-handle {
  border-radius: 50px;
  width: 58px !important;
}

.switch-group {
  border-radius: 50px;
}

.disabled-link {
  pointer-events: none;
  /* Disable click events */
  opacity: 0.5;
  /* Apply a visual indication for disabled state */
  /* Add any additional styling for a disabled link */
}

.slick-prev:before {
  content: 'â†'!important;
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff;
  font-family: IranSans!important;

}

.slick-next:before {
  color: #000 !important;
  font-size: 3rem !important;
}

.slick-prev:before {
  color: #000 !important;
  font-size: 3rem !important
}

.slick-dots li {
  width: 12px !important;
}

.error {
  color: #f60909;
  font-size: .7rem;
  position: relative;
  line-height: 1;
}

#dv-createLandin {
  position: relative;
  margin-top: 49px;
}

.dv-path {
  position: absolute;
  top: 41px;
  right: 10px;
  width: 718px;
}

#dv-createLandin h3,
#dv-createLandin h3 span.highight {
  position: relative;
  color: #000;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 48px;
}

#dv-createLandin h3 span.highlight {
  background-color: rgba(100, 101, 244, 0.265);
  line-height: 10px;
  height: 10px;
  margin: auto 0;
  display: inline-block;
}

.dv-createLandin {
  text-align: right;
  position: relative;
  background-color: transparent;
}

.dv-createLandin img {
  margin-left: auto;
  display: block;
  position: relative;
  z-index: 1;
  background-color: #fff;

}

@media screen and (max-width: 768px) {
  .dv-createLandin  {
    margin-top: 56px;
  }
}

.dv-createLandin h4,
.dv-createLandin span {
  margin-bottom: 3px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
}

.dv-createLandin p,
.dv-signIn a {
  color: #4f5d75;
  font-weight: 400;
  font-size: 15px;

}

.dv-createLandin::before,
.dv-testing>span::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(217,249,226,.3);
  z-index: 99;
  border-radius: 50%;
}

.hover:hover{
  opacity: .7;
}
#dv-cardsPart1, .dv-sliderDefine {
  position: relative;
}

.dv-sliderDefine::before {
  content: "";
  position: absolute;
  top: 0;
  right: 37px;
  bottom: 0;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background-color: rgba(217,249,226,.7);
  z-index: -1;
}

.dv-sliderDefine svg {
  margin-top: 5px;
}

.dv-sliderDefine span {
  color: #4f5d75;
  font-size: 19px;
  font-weight: 800;
  display: block;
  text-align: center;
}

.slider-item svg{
  max-height: 4rem;
  /* max-width: 4rem; */
  width: 100%;
  filter: opacity(.7);
}